@import url("https://fonts.googleapis.com/css2?family=Headland+One&display=swap");
.form-wrapper {
  margin: 2rem;
  padding: 5rem;
  background-color: #eeeeee;
  font-family: "Headland One", serif;
  box-shadow: 1px 1px 1px #fafafa;
  border-radius: 10px;
  text-align: center;
}

@media screen and (max-width: 600px) {
  .form-wrapper {
    margin: 1rem;
    padding: 3rem;
  }
}

.shortener-form-input {
  width: 10rem;
  height: 3rem;
  border-radius: 15px;
  margin: 5px;
  border: none;
  text-indent: 2rem;
  box-shadow: 1px 5px 7px #fafafa;
  outline: none;
  font-size: 0.8rem;
}

.wide {
  width: 30rem;
}

@media screen and (max-width: 600px) {
  .shortener-form-input {
    height: 2rem;
    width: 90%;
    text-indent: 2px;
  }

  .wide {
    width: 90%;
  }
}

.shortener-form-input:focus {
  box-shadow: 0px 0px 2px 2px rgba(185, 225, 255, 0.68);
  -webkit-box-shadow: 0px 0px 2px 2px rgba(0, 126, 222, 0.68);
  -moz-box-shadow: 0px 0px 2px 2px rgba(0, 126, 222, 0.68);
}

.shorten-button {
  background-color: rgb(0, 188, 226);
  color: white;
  border-radius: 15px;
  margin: 5px;
  height: 3rem;
  width: 7rem;
  border: none;
  cursor: pointer;
}

.shorten-button:hover {
  background-color: rgb(1, 213, 255);
}

.hide {
  display: none;
}
