@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");
.nav-bar {
  margin: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-family: "Fredoka One", cursive;
  font-size: 2rem;
  color: #fff;
}

.nav-bar-brand {
  font-size: inherit;
}

@media screen and (max-width: 600px) {
  .nav-bar-brand {
    font-size: 1.5rem;
  }
}
